<div class="titleLeft">
                  <h3>User Profile</h3>
              </div>
<!--<div class="titleRight">
    <h3>Anything</h3>
</div>-->

<!--<div class="profileBodyMainDiv">    
    <div class="panel-group">
        <div class="panel panel-default panelDiv">
            <div class="panel-heading panelhead">Basic Info</div>
            <div class="panel-body">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <ul class="tags list-group list-unstyled">
                        <li>Name</li>
                        <li>Email Id</li>
                        <li>Occupation</li>
                    </ul>

                    <ul class="inputs list-group list-unstyled">
                        <li>{{userDetails?.firstName}} {{userDetails?.lastName}}</li>
                        <li>{{userDetails?.email}}</li>
                        <li>{{userDetails?.occupationName}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default panelDiv">
            <div class="panel-heading panelhead">Contact Info</div>
            <div class="panel-body">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <ul class="tags list-group list-unstyled">
                        <li>Phone No.</li>
                        <li>Address</li>
                        <li>City</li>
                        <li>State</li>
                    </ul>

                    <ul class="inputs list-group list-unstyled">
                        <li>{{userDetails?.phoneNumber}}</li>
                        <li>{{userDetails?.address}}</li>
                        <li>{{userDetails?.cityName}}</li>
                        <li>{{userDetails?.stateName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
