<div class="bodyContent">
    <img src="../../Images/1388_n.jpg" class="img-responsive pull-right aboutUsImage" height="500" width="600" id="aboutUsImage" />
    <h2>About Us</h2>
    <hr />
    <p class="text-justify aboutUs">
        BTMV is a charity group of professionals those want to voluntarily contribute in their village/town’s development.
        Issues like Primary education, people’s health, government policies awareness and availability of basic facilities/infrastructure
        are on main focus among others.
    </p>
    <p class="text-justify aboutUs">
        BTMV is a charity group of professionals those want to voluntarily contribute in their village/town’s development.
        Issues like Primary education, people’s health, government policies awareness and availability of basic facilities/infrastructure
        are on main focus among others.
    </p>

    <p class="text-justify aboutUs">

        Through the website group want to help their members collaborate, to plan, assess and implement different activities and
        learn with others experience/feedbacks/suggestions. Group also wants to encourage others to join their initiatives and
        recognize their contributions.
    </p>

    <p class="text-justify aboutUs">
        BTMV is a charity group of professionals those want to voluntarily contribute in their village/town’s development.
        Issues like Primary education, people’s health, government policies awareness and availability of basic facilities/infrastructure
        are on main focus among others.
    </p>

    <p class="text-justify aboutUs">

        Through the website group want to help their members collaborate, to plan, assess and implement different activities and
        learn with others experience/feedbacks/suggestions. Group also wants to encourage others to join their initiatives and
        recognize their contributions.
    </p>

</div>
