<div class="dashboardBody">

    <div class="row ">
        <!-- Side Navigation -->
        <div class="col-md-2 col-xs-12" style="background: #125698; height: -webkit-fill-available;">
            <sideNavigation></sideNavigation>
        </div>

        <!-- Dashboard Body -->
        <div class="col-md-10 col-xs-12" style="background-color: #F7F7F7;">
            <div class="titleLeft">
                <h3>Change Password</h3>
            </div>

            <div class="profileBodyMainDiv panel panel-default">
                <div class="alert alert-danger" *ngIf="hasErrorMessage">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>Error ! </strong>{{ errorMessage }}
                </div>
                <div class="alert alert-success" *ngIf="isWorkAdded">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="resetForm()">×</a>
                    <strong>Success ! </strong>{{ successMessage }}
                </div>

                <div class="panel-body">

                    <p-steps [(activeIndex)]="activeIndex" [model]="items"></p-steps>

                    <form *ngIf="activeIndex === 0" [formGroup]="checkCurrentPasswordForm" (ngSubmit)="checkCurrentPassword(checkCurrentPasswordForm.value)" autocomplete="off">

                        <div class="form-group" [ngClass]="{'error': currentPassword.invalid && currentPassword.dirty}">
                            <label for="currentPassword">Current Password:</label>
                            <em *ngIf="checkCurrentPasswordForm.controls.currentPassword?.invalid && (checkCurrentPasswordForm.controls.currentPassword?.dirty)">Required</em>
                            <input (ngModel)="currentPassword" name="currentPassword" required type="Password" class="form-control" placeholder="Password" formControlName="currentPassword" />
                        </div>

                        <button type="submit" [disabled]="!checkCurrentPasswordForm.valid" class="btn btn-primary">Next</button>
                        <button type="button" class="btn btn-default" (click)="resetCurrentPasswordForm()">Cancel</button>

                    </form>

                    <form *ngIf="activeIndex === 1" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)" autocomplete="off">

                        <div class="form-group" [ngClass]="{'error': newPassword.invalid && newPassword.dirty}">
                            <label for="newPassword">New Password:</label>
                            <em *ngIf="changePasswordForm.controls.newPassword?.invalid && (changePasswordForm.controls.newPassword?.dirty)">Required</em>
                            <input (ngModel)="newPassword" name="newPassword" required type="Password" class="form-control" placeholder="New Password" formControlName="newPassword" />
                        </div>
                        <div class="form-group" [ngClass]="{'error': confirmNewPassword.invalid && confirmNewPassword.dirty}">
                            <label for="confirmNewPassword">Confirm Password:</label>
                            <em *ngIf="changePasswordForm.controls.confirmNewPassword?.invalid && (changePasswordForm.controls.confirmNewPassword?.dirty)">Required</em>
                            <input (ngModel)="confirmNewPassword" name="confirmNewPassword" required type="Password" class="form-control" placeholder="Confirm Password" formControlName="confirmNewPassword" />
                        </div>

                        <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" (click)="resetChangePasswordForm()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>